// text
$_mainTextColor: #8a8a8a;
$_ligthTextColor: #d4d4d4;
$_orangeText: #ff8f2f;
$_redText: #a92d2d;
$_redBorder: #ffcaca;
$_redBack: #ffeded;
$_lightBlueText: #2aafff;
$_greenText: #00862f;
$_greyText: #5a5a5a;
$_overlay: #5a5a5a;

// border
$_mainBorderColor: #dcdcdc;
$_darkenBorderColor: #b5b5b5;

// shadow
$_shadow: 6px 3px 10px #cecece;
$_shadowSmall: 4px 2px 6px #cecece;

//layouts

$mainBackground: #f1f1f1;
$darkenBackground: #dcdcdc;

$Header2: 34px;
$Thumb: #6f9094;
