.css-dashboard {
    height: 100%;

    display: flex;
    justify-content: center;
    .dashboard-panel {
        display: flex;
        justify-content: center;
        align-items: center;
        &.left {
            margin-right: 2%;
            .content {
                // color: #e60000;
            }
        }
        &.right {
            margin-left: 2%;
        }
        .css-thumbNail {
            cursor: pointer;
            width: 500px;
            height: 74%;
            border: 1px solid #e6e6e6;
            padding: 20px;
            box-sizing: border-box;
            box-shadow: 4px 4px 6px 0px #cecece;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow: hidden;

            &:hover {
                .custom-icon {
                    height: 70%;
                }
                .content {
                    height: 30%;
                    .header {
                        top: -70px;
                        color: white;
                        text-align: center;
                        font-size: 34px;
                    }
                }
            }
            .custom-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $Thumb;
                font-size: 180px;
                color: white;
                height: 100%;
                transition: height 0.1s;
            }
            .content {
                border: 0.5px solid #9fbfc3;
                font-size: 18px;
                height: 0;
                transition: height 0.1s;
                position: relative;
                .header {
                    font-size: 20px;
                    font-weight: 600;
                    margin-bottom: 6px;
                    position: relative;
                    top: 0;
                    color: white;
                    text-align: center;
                    font-size: 34px;
                    transition: top 0.1s;
                }
                .text {
                    font-size: 16px;
                }
            }
        }
    }
}
