.css-dashboard {
    padding: 40px;
    display: flex;
    justify-content: space-around;
    height: 100%;
    box-sizing: border-box;
    .dashboard-panel {
        flex-basis: 50%;
        padding: 30px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .css-info {
            height: 300px;
            .header {
                text-decoration: underline;
                margin-bottom: 40px;
            }
            .content {
                font-size: 20px;
            }
        }
        .css-controls {
            display: flex;
            height: 100px;

            .css-button {
                width: 200px;
                text-decoration: none;
                text-align: center;
                &.disabled {
                    color: #d2d2d2;
                    &:hover {
                        box-shadow: none;
                        cursor: default;
                    }
                }
            }
        }
        &.left {
            .css-controls {
                flex-direction: column;
                justify-content: space-between;
                .css-button {
                    width: 100%;
                    // margin-top: 12px;
                }
            }
        }
        &.right {
            .css-controls {
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }
}
