.css-game-info {
    .css-info-title {
        font-size: 20px;
        margin: 6px 0 8px;
        color: #ff8f2f;
        padding-left: 12px;
    }
    .css-info-options {
        padding-left: 12px;
        .css-info-option {
            font-size: 18px;
        }
    }
}
