.css-game-statistic {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 8px;
    .css-game-stat-details {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-grow: 3;
        .css-stat-bulls {
            position: relative;
            border-radius: 50%;
            padding: 8px;
            display: flex;
            align-items: center;
            .css-stat-bull {
                height: 30px;
                width: 30px;
                opacity: 0.2;
            }
            .css-total-bulls {
                position: absolute;
                color: #6d6d6d;
                left: 4px;
                font-size: 18px;
                top: 3px;
                border-radius: 50%;
                width: 38px;
                height: 38px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .css-stat {
            margin: 0 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            .css-value {
                color: white;
                font-size: 18px;
            }
            &.white {
                background: white;
                border: 1px solid $_mainBorderColor;
                .css-value {
                    color: $_mainTextColor;
                }
            }
            &.yellow {
                background: $_orangeText;
            }
            &.red {
                background: $_redText;
            }
        }
    }
    .css-game-stat-total {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        font-size: 18px;
        border: 1px solid $_mainBorderColor;
        border-radius: 6px;
        margin-left: 4px;
    }
}
