.css-options-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    .css-form {
        width: 80%;
        min-width: 1000px;
        min-height: 560px;
        .input-group {
            flex-basis: 86%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .left-pannel {
                min-width: 440px;
                margin-right: 20px;
                padding-right: 20px;
                border-right: 0.5px solid #dcdcdc;
                // border-bottom: 0.5px solid #dcdcdc;
            }
            .right-pannel {
            }
        }
        .contol-group {
        }
    }
}
