.css-options {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    .css-content {
        height: 92%;
        display: flex;
        flex-direction: column;
        .css-options-wrapper {
            display: flex;
            justify-content: space-around;
            .css-players-list {
                flex-grow: 1;
                .css-players {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    justify-content: space-between;
                    .css-text-input {
                        width: 80%;
                    }
                }
            }
            .css-start-options-list {
                flex-grow: 2;
            }
        }
        .css-checkList {
            .css-list {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .css-header {
                }
                .css-body {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .css-players {
                        font-size: 22px;
                        width: 100%;
                        display: flex;
                        padding-bottom: 16px;
                        border-bottom: 1px solid $_mainBorderColor;
                        margin-bottom: 20px;
                        .css-title {
                            display: flex;
                            justify-content: space-between;
                            flex-basis: 24%;
                            margin-right: 44px;
                        }
                        .css-num {
                            font-size: 52px;
                            color: #fff;
                            height: 60px;
                            width: 60px;
                            background-color: #ff8f2f;
                            border-radius: 50%;
                            text-align: center;
                            margin-right: 16px;
                            padding: 24px;
                        }
                        .css-play {
                            display: inline-block;
                        }
                        .css-items {
                            padding: 0;
                            .css-item {
                                margin-bottom: 6px;
                            }
                        }
                    }
                    .css-start-options {
                        font-size: 22px;
                        width: 100%;
                        display: flex;
                        padding-bottom: 16px;
                        border-bottom: 1px solid $_mainBorderColor;
                        margin-bottom: 20px;
                        .css-title {
                            color: $_orangeText;
                            flex-basis: 24%;
                            margin-right: 44px;
                            font-size: 30px;
                        }
                        .css-items {
                            .css-item {
                                margin-bottom: 6px;
                            }
                        }
                    }
                }
                .css-footer {
                    padding: 0 40px 40px 40px;
                    .css-footer-controls {
                        display: flex;
                        justify-content: space-between;
                        .css-button {
                            width: 54px;
                            text-align: center;
                            box-shadow: none;
                            &:hover {
                                box-shadow: $_shadow;
                            }
                        }
                    }
                }
            }
        }
    }
    .css-controls {
        height: 8%;
        justify-content: space-between;
    }

    .css-start-options-list {
        .css-start-options {
            // display: flex;
            // justify-content: space-around;
            .css-start-option {
                display: flex;
                justify-content: space-between;
                margin-bottom: 12px;
                .css-start-option-label {
                    width: 40%;
                }
                .css-start-option-content {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .css-set-container {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 8px;
                        .css-set-container-label {
                            margin-bottom: 0;
                            width: 60%;
                        }
                        .css-set-container-controls {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 40%;
                        }
                    }
                    .css-start-option-content-item {
                        font-size: 18px;
                        display: inline-block;
                        width: 260px;
                        text-align: center;
                        cursor: pointer;
                        transition: 0.5s;
                        &.selected {
                            color: $_lightBlueText;
                        }
                        &.left {
                            text-align: right;
                        }
                        &.right {
                            text-align: left;
                        }
                    }
                    .css-switch {
                        min-width: 80px;
                        text-align: center;
                    }
                }
                .css-controll-button {
                    width: 26px;
                    height: 26px;
                    cursor: pointer;
                }
                .css-Ovalue {
                    text-align: center;
                    font-size: 24px;
                    color: $_orangeText;
                }
            }
        }
        .ball-price-container {
            display: flex;
            justify-content: flex-end;
            .css-text-input {
                width: 66%;
                color: orange;
                font-size: 26px;
                padding: 0;
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }
    }
}
