.css-players-statistic {
    display: flex;
    flex-direction: column;
    border-top: 1px solid $_mainBorderColor;
    border-bottom: 1px solid $_mainBorderColor;
    margin-bottom: 2px;
    padding: 6px 0;
    .css-game-type {
        font-size: 20px;
        color: $_lightBlueText;
        text-decoration: underline;
        margin-bottom: 8px;
    }
    .css-stat-player {
        display: flex;
        padding: 4px 0;
        justify-content: space-between;
        align-items: center;
        .css-player-stat-name {
            font-size: 20px;
            margin-right: 12px;
            min-width: 110px;
            max-width: 190px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .css-player-stat-options {
            display: flex;
            .css-player-total {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 12px;
                .css-player-total-value {
                    color: white;
                }
                &.current {
                    width: 50px;
                    border: 1px solid $_mainBorderColor;
                    border-radius: 10%;
                    .css-player-total-value {
                        color: $_mainTextColor;
                    }
                }
                &.whites {
                    background-color: white;
                    border: 1px solid $_mainBorderColor;
                    .css-player-total-value {
                        color: $_mainTextColor;
                    }
                }
                &.yellows {
                    background-color: $_orangeText;
                }
                &.reds {
                    background-color: $_redText;
                }
                &.bulls {
                    .css-player-stat-bull {
                        opacity: 0.2;
                        width: 30px;
                        min-width: 30px;
                        height: 30px;
                        position: relative;
                    }
                    .css-player-total-value {
                        position: absolute;
                        color: #737373;
                    }
                }
                &.all {
                    margin: 0;
                    border: 1px solid $_mainBorderColor;
                    border-radius: 6px;
                    .css-player-total-value {
                        color: inherit;
                    }
                }
            }
        }
        &.header {
            padding-bottom: 20px;
            .css-player-stat-name {
                color: $_lightBlueText;
            }
        }
    }
}
