@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}
.css-link {
    color: #8a8a8a;
    text-decoration: none;
    &.disabled {
        color: #d2d2d2;
    }
}
.viewport {
    min-width: 1000px;
}
.css-app {
    min-width: 1000px;
    height: 100vh;
    .css-header {
        min-width: 990px;
        height: 80px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: $mainBackground;
        box-shadow: 4px 4px 6px 0px #cecece;
        position: fixed;
        top: 0;
        left: 0;
        right: 10px;
        z-index: 200;
        .css-logo {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .css-loog-image {
                width: 50px;
                height: 50px;
            }
        }
        .css-header-content {
            flex-grow: 1;
            padding: 16px;
            .css-header-info {
                .css-marker-container {
                    display: flex;
                    justify-content: flex-start;
                    align-items: baseline;
                    .css-marker-title {
                        font-size: 20px;
                    }
                    .css-marker-value {
                        font-size: 26px;
                        margin-left: 10px;
                    }
                }
            }
            .css-navigation {
            }
        }
    }
    .css-left-bar {
        position: fixed;
        left: 0;
        bottom: 10px;
        top: 80px;
        width: 200px;
        background-color: $mainBackground;
        box-shadow: 4px 4px 6px 0px #cecece;
        z-index: 200;
    }
    .componentContainer {
        width: calc(100% - 40px);
        margin: 20px;
        height: calc(100% - 40px);
        overflow: auto;
    }
}
.css-button {
    padding: 8px 30px;
    border: 1px solid $_mainBorderColor;
    background: none;
    border-radius: 2px;
    color: $_mainTextColor;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
    &:focus {
        outline: none;
    }
    &:hover {
        box-shadow: $_shadow;
    }
    &.removePlayer {
        padding: 0;
        padding: 0px;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        border-color: #ff9393;
    }
}

.css-text-input {
    width: 340px;
    padding: 8px;
    font-size: 20px;
    border-radius: 2px;
    border: 1px solid $_mainBorderColor;
    color: $_mainTextColor;
    transition: 0.2s;
    @include placeholder {
        color: $_ligthTextColor;
    }
    &:focus {
        border: 1px solid $_darkenBorderColor;
        outline: none;
        // box-shadow: $_shadow;
    }
}

.css-main-area {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 780px;
    position: fixed;
    top: 90px;
    right: 10px;
    bottom: 10px;
    left: 210px;
    border: 1px solid #e6e6e6;
}

.css-controls {
    display: flex;
    justify-content: flex-end;
}
.css-overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .css-overlay {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: $_overlay;
        opacity: 0.5;
    }
    .css-overlay-content {
        z-index: 101;
        min-width: 460px;
        background-color: white;
        border: 1px solid $_mainBorderColor;
        border-radius: 8px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .css-over-title {
            font-size: 26px;
        }
        .css-over-controls {
            margin-top: 26px;
            display: flex;
            width: 100%;
            justify-content: space-around;
            align-items: center;
            .css-button {
                width: 40%;
                padding: 16px;
            }
        }
    }
}
