@import "_constants";
@import "_options";
@import "_players";
@import "_site";
@import "_popup";
@import "_game";
@import "_results";

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    color: $_mainTextColor;
}
