.css-button {
    padding: 30px 30px;
    width: 100%;
    font-size: 34px;
}
.forgotPass {
    margin-top: 0px;
    padding: 0;
    margin-bottom: 70px;
    text-align: right;
    &:hover {
        text-decoration: underline;
    }
    .forgotPass-title {
        cursor: pointer;
    }
}

.server-mess {
    position: absolute;
    padding: 18px;
    border: 1px solid $_redBorder;
    border-radius: 4px;
    background-color: $_redBack;
}
.message {
    align-self: center;
    width: 400px;
}
.css-button {
    align-self: center;
    width: 400px;
    padding: 30px 30px;
    // margin-bottom: 100px;
}
