.enter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  .css-form-switch {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    .switch-option {
      color: $_lightBlueText;
      cursor: pointer;
      display: flex;
      justify-content: center;
      width: 540px;
      min-width: 540px;
      padding: 20px;
      margin: 0 20px;
      box-sizing: border-box;
      border-bottom: 10px solid $_lightBlueText;
      &.disabled {
        border-bottom: 10px solid $_mainBorderColor;
        color: $_mainTextColor;
      }
    }
  }
  .css-form {
    .css-basis-button {
      color: $_lightBlueText;
      font-weight: 600;
    }
    &.disabled {
      .css-basis-button {
        color: $_mainTextColor;
        font-weight: 100;
      }
    }
  }

  .css-forms-container {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 80%;
  }
}
