.css-registration {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    .css-registration-form {
        margin-top: 30px;
        width: 400px;
        display: flex;
        flex-direction: column;
        align-self: center;
        .css-text-input {
            width: 100%;
            box-sizing: border-box;
            margin-bottom: 16px;
        }
        .css-button {
            padding: 30px 30px;
        }
    }
    .server-mess {
        padding: 18px;
        border: 1px solid $_redBorder;
        border-radius: 4px;
        background-color: $_redBack;
    }
    .message {
        align-self: center;
        width: 400px;
    }
    .css-button {
        align-self: center;
        width: 400px;
        padding: 30px 30px;
        // margin-bottom: 100px;
    }
}
